{% extends 'base.html' %}
<!-- User's account page. Can change min and max range and update password. -->

{% block head %}Data{% endblock %}

{% block nav %}
<nav class="navbar">
    <div class="navbar-header">
        <a id="brand"><img src="static/Logo.png" style="height:30px; width: auto">Balance in Diabetes</a>
    </div>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/foodTracker">FoodTracking</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/data">Data</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/info">About</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/account" style="color:red ; font-weight: bold;">Account</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/logout">Sign Out</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >Resources</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://www.instagram.com/type2diabetes.nutritionist/?hl=en">type2diabetes.nutritionist on Instagram</a></li>
                    <li><a class="dropdown-item" href="https://www.milkandhoneynutrition.com">Milk and Honey Nutrition</a></li>
                    <li><a class="dropdown-item" href="https://www.diabetesfoodhub.org">Diabetes Food Hub</a></li>
                    <li><a class="dropdown-item" href="https://diabetes.org">Diabetes.org</a></li>
                    <li><a class="dropdown-item" href="https://fastfoodnutrition.org/fast-food-restaurants">Fast Food Nutrition</a></li>
                </ul>
            </li>
        </ul>
    </div>

</nav>
{% endblock %}

{% block body %}
<div class="container text-centered">
    <div class="row">
        <form action="/update_password" method="POST">
            <h3>Update Password <br><input type="password" name="update_password" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                title="Must contain one number, one uppercase letter, one lower case letter and must be 8 characters long" required></h3>
                <input type="submit">
        </form>
    </div>
    <div class="row">
        <form action="/update_name" method="POST">
            <h3>Update Name <br><input type="text" name="update_name"></h3>
            <input type="submit">
        </form>
    </div>
    <div class="row">
        <form action="/update_min_range" method="POST">
            <h3>Update Min Range <br><input type="number" name="update_min_range"></h3>
            <input type="submit">
        </form>
    </div>
    <div class="row">
        <form action="/update_max_range" method="POST">
            <h3>Update Max Range <br><input type="number" name="update_max_range"></h3>
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}
