{% extends 'base.html' %}
<!-- This is the page where user entries are displayed. -->

{% block head %}Data{% endblock %}

{% block nav %}
<nav class="navbar">
    <div class="navbar-header">
        <a id="brand"><img src="static/Logo.png" style="height:30px; width: auto">Balance in Diabetes</a>
    </div>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/foodTracker">FoodTracking</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/data" style="color:red ; font-weight: bold;">Data</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/info">About</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/account">Account</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/logout">Sign Out</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >Resources</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://www.instagram.com/type2diabetes.nutritionist/?hl=en">type2diabetes.nutritionist on Instagram</a></li>
                    <li><a class="dropdown-item" href="https://www.milkandhoneynutrition.com">Milk and Honey Nutrition</a></li>
                    <li><a class="dropdown-item" href="https://www.diabetesfoodhub.org">Diabetes Food Hub</a></li>
                    <li><a class="dropdown-item" href="https://diabetes.org">Diabetes.org</a></li>
                    <li><a class="dropdown-item" href="https://fastfoodnutrition.org/fast-food-restaurants">Fast Food Nutrition</a></li>
                </ul>
            </li>
        </ul>
    </div>

</nav>
{% endblock %}

{% block body %}
<!-- Using a jinja for loop to populate the tables to show all entries entered. -->
<div class="container text-centered">
    <div class="row">
        <form id="days_back_form">
        <label for="days_back">Select Time Frame for Blood Sugar Averages:</label>
        <select id="days_back" name="days_back" class="inputs">
            <option value="1">1 Days</option>
            <option value="2">2 Days</option>
            <option value="7">7 Days</option>
            <option value="14">14 Days</option>
            <option value="30">30 Days</option>
            <option value="60">60 Days</option>
            <option value="90">90 Days</option>
        </select>
        <br><input type="submit">
        </form>
    </div>
    <div class="row" id="average"></div>
    <div class="row">
        <div class="col" id="bsTable">
            <table class="center">
                <tr>
                    <th>Blood Sugar Entries</th>
                    <th>Date</th>
                </tr>
                {% for entry in bs_entries %}
                <tr id="bsRow">
                    <td id="data">{{entry.bloodsugar}}</td>
                    <td id="data">{{entry.input_date}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col" id="insulinTable">
            <table class="center">
                <tr>
                    <th>Insulin Entries</th>
                    <th>Date</th>
                </tr>
                {% for entry in insulin_entries %}
                <tr id="insulinRow">
                    <td id="data">{{entry.insulin_use}}</td>
                    <td id="data">{{entry.input_date}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script src="/static/reactiveButtons.js"></script>
{% endblock %}