{% extends 'base.html' %}
<!-- This is the page where users can add foods to track, and see the foods they've tracked -->

{% block head %}Data{% endblock %}

{% block nav %}
<nav class="navbar">
    <div class="navbar-header">
        <a id="brand"><img src="static/Logo.png" style="height:30px; width: auto">Balance in Diabetes</a>
    </div>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/foodTracker" style="color:red ; font-weight: bold;">FoodTracking</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/data">Data</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/info">About</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/account">Account</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/logout">Sign Out</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                >Resources</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://www.instagram.com/type2diabetes.nutritionist/?hl=en">type2diabetes.nutritionist on Instagram</a></li>
                    <li><a class="dropdown-item" href="https://www.milkandhoneynutrition.com">Milk and Honey Nutrition</a></li>
                    <li><a class="dropdown-item" href="https://www.diabetesfoodhub.org">Diabetes Food Hub</a></li>
                    <li><a class="dropdown-item" href="https://diabetes.org">Diabetes.org</a></li>
                    <li><a class="dropdown-item" href="https://fastfoodnutrition.org/fast-food-restaurants">Fast Food Nutrition</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block body %}
<div class="container text-centered">
    <div class="row">
            <form action="/create_food">
                <h3>Create New Food Entry</h3>
                <input type="text" name="food_name"  class="inputs" required>
                <p>Enter Food Name</p>
                <input type="number" name="serving_size"  class="inputs" required>
                <p>Serving Size in gram</p>
                <input type="number" name="calories"  class="inputs" required>
                <p>Calories Per Serving</p>
                <input type="number" name="carbs"  class="inputs" required>
                <p>Carbs Per Serving</p>
                <input type="submit" class="inputs">
            </form>
    </div>
        <div class="row">
            <div class="col">
                <table id="foodTable" class="center">
                    <tr>
                        <th>Food</th>
                        <th>Serving</th>
                        <th>calories</th>
                        <th>carbs</th>
                    </tr>
                    {% for foodEntry in food %}
                    <tr id="foodRow">
                        <td id="dataName">{{foodEntry.food_name}}</td>
                        <td id="data">{{foodEntry.serving_size}}</td>
                        <td id="data">{{foodEntry.calories}}</td>
                        <td id="data">{{foodEntry.carbs}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
</div>
{% endblock %}