{% extends 'base.html' %}
<!-- This is the official homepage that a user is brought to when signed in.
    This displays forms to input bloodsugar and insulin as well as show a 
    chart displaying current bloodsugar entries. -->

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="brand">Balance in Diabetes</a>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="true"
    aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/data">Data</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/info">About</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/account">Account</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/logout">Sign Out</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                >Resources</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://www.instagram.com/type2diabetes.nutritionist/?hl=en">type2diabetes.nutritionist on Instagram</a></li>
                    <li><a class="dropdown-item" href="https://www.milkandhoneynutrition.com">Milk and Honey Nutrition</a></li>
                    <li><a class="dropdown-item" href="https://www.diabetesfoodhub.org">Diabetes Food Hub</a></li>
                    <li><a class="dropdown-item" href="https://diabetes.org">Diabetes.org</a></li>
                </ul>
            </li>
        </ul>
    </div>

</nav>
{% endblock %}

{% block body %}
<div class="container text=centered">
    <div class="row">
        <div class="col">
            <h1>Welcome {{ name }}, to the Balance in Diabetes family!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div><canvas id="glucose_chart"></canvas></div>
            <form action="/create_bs_entry" method="POST">
                <h3>Blood sugar entry <br><input type="number" name="bloodsugar_entry"></h3>
                <input type="submit">
            </form>
            <form action="/create_insulin_entry" method="POST">
                <h3>Insulin entry <br><input type="number" name="insulin_entry"></h3>
                <input type="submit">
            </form>
            <a href="/data">See all data</a>
        </div>
    </div>
</div>
<script src="/static/reactiveChart.js"></script>
{% endblock %}