{% extends 'base.html' %}
<!-- This is where an existing user is able to login.
    A link to the sign up page is provided if they don't have an account. -->

{% block nav %}
<nav class="navbar">
    <div class="navbar-header">
        <a id="brand">Balance in Diabetes</a>
    </div>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="link" href="/">About</a>
            </li>
            <li class="nav-item">
                <a class="link" href="/signup">Create Account</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                >Resources</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://www.instagram.com/type2diabetes.nutritionist/?hl=en">type2diabetes.nutritionist on Instagram</a></li>
                    <li><a class="dropdown-item" href="https://www.milkandhoneynutrition.com">Milk and Honey Nutrition</a></li>
                    <li><a class="dropdown-item" href="https://www.diabetesfoodhub.org">Diabetes Food Hub</a></li>
                    <li><a class="dropdown-item" href="https://diabetes.org">Diabetes.org</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <h1>Login</h1>
        <form action="/user_login" method="POST">
            <p>Email <br><input type="text" name="email" 
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}$" required></p>
            <p>Password <br><input type="password" name="password" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                title="Must contain one number, one uppercase letter, one lower case letter and must be 8 characters long" required></p>
            <p><input type="submit"></p>
        </form>
        <p>Don't have an account?</p>
        <a href="/signup">Sign up</a>
    </div>
</div>
{% endblock %}