{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Login</h1>
        <form action="/user_login" method="POST">
            <p>Email <br><input type="text" name="email" 
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}$" required></p>
            <p>Password <br><input type="password" name="password" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                title="Must contain one number, one uppercase letter, one lower case letter and must be 8 characters long" required></p>
            <p><input type="submit"></p>
        </form>
        <p>Don't have an account?</p>
        <a href="/signup">Sign up</a>
    </div>
</div>
{% endblock %}