{% extends 'base.html' %}
<!-- This is where the user can sign up if they don't have an account.
    The user has an option to go to login if they do have an account. -->

{% block body %}

<div class="container text-center">
    <div class="row">
        <h1>Sign up</h1>
        <h2>Please fill out all fields.</h2>
        <form action="/user" method="POST">
            <p>What is your name? <br><input type="text" name="name" required></p>
            <p>What is your blood sugar minimum range? <br><input type="number" name="min_range" value="70" placeholder="70" min="50"></p>
            <p>What is your blood sugar maximum range? <br><input type="number" name="max_range" value="200" placeholder="200"max="200"></p>
            <p>Email <br><input type="text" name="email" 
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}$" required></p>
            <p>Password <br><input type="password" name="password" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                title="Must contain one number, one uppercase letter, one lower case letter and must be 8 characters long" required></p>
            <p><input type="submit" value="Sign In"></p>
        </form>
        <p>Already have an account?</p>
        <a href="/login">Login</a>
    </div>
</div>
{% endblock %}
